<!-- About page -->

<h1>About</h1>

<!-- Card deck row 1 of team members -->
<div class="card-deck">

  <!-- Person 1 -->
  <div class="card">
    <img src="/img/profilepic.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Anwar</h5>
      <a href="/about/Anwar" class="btn btn-primary">Learn more</a>
    </div>
  </div>

  <!-- Person 2 -->
  <div class="card">
    <img src="/img/face.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Anya</h5>
      <a href="/about/Anya" class="btn btn-primary">Learn more</a>
    </div>
  </div>

  <!-- Person 3 -->
  <div class="card">
    <img src="/img/brian.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Brian</h5>
      <a href="/about/Brian" class="btn btn-primary">Learn more</a>
    </div>
  </div>

  <!-- Person 4 -->
  <div class="card">
    <img src="/img/blank profile.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Habtom</h5>
      <a href="/about/Habtom" class="btn btn-primary">Learn more</a>
    </div>
  </div>

</div> <!-- End of card deck row 1 -->

<!-- Card deck row 2 of team members -->
<div class="card-deck">

  <!-- Person 5 -->
  <div class="card">
    <img src="/img/Jonathan.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Jonathan</h5>
      <a href="/about/Jonathan" class="btn btn-primary">Learn more</a>
    </div>
  </div>

  <!-- Person 6 -->
  <div class="card">
    <img src="/img/blank profile.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Justin</h5>
      <a href="/about/Justin" class="btn btn-primary">Learn more</a>
    </div>
  </div>

  <!-- Person 7 -->
  <div class="card">
    <img src="/img/blank profile.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Sandeep</h5>
      <a href="/about/Sandeep" class="btn btn-primary">Learn more</a>
    </div>
  </div>

  <!-- Person 8 -->
  <div class="card">
    <img src="/img/blank profile.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Tianchen</h5>
      <a href="/about/Tianchen" class="btn btn-primary">Learn more</a>
    </div>
  </div>

</div> <!-- End of card deck row 2 -->
