<!-- Front page of web application -->

<h1>List of parks</h1>

<div class="row">

  {{#each locations}}
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="{{this.imagePath}}" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="/location/{{this.urlRoute}}">{{this.locationName}}</a>
          </h4>
        </div>
      </div>
    </div>
  {{/each}}

</div>
