<!-- Front page of web application -->

<h1>List of parks</h1>

<div class="row">

  <!-- Alcatrax -->
  <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
    <div class="card h-100">
      <a href="#"><img class="card-img-top" src="/img/parks/alcatraz.jpg" alt=""></a>
      <div class="card-body">
        <h4 class="card-title">
          <a href="#">Alcatraz</a>
        </h4>
      </div>
    </div>
  </div>

  <!-- Angel Island -->
  <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
    <div class="card h-100">
      <a href="#"><img class="card-img-top" src="/img/parks/angelIsland.jpg" alt=""></a>
      <div class="card-body">
        <h4 class="card-title">
          <a href="#">Angel Island</a>
        </h4>
      </div>
    </div>
  </div>

  <!-- Aquatic Park -->
  <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
    <div class="card h-100">
      <a href="#"><img class="card-img-top" src="/img/parks/aquaticPark.jpg" alt=""></a>
      <div class="card-body">
        <h4 class="card-title">
          <a href="#">Aquatic Park</a>
        </h4>
      </div>
    </div>
  </div>

  <!-- AT&T Park -->
  <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
    <div class="card h-100">
      <a href="#"><img class="card-img-top" src="/img/parks/attPark.jpg" alt=""></a>
      <div class="card-body">
        <h4 class="card-title">
          <a href="#">AT&T Park</a>
        </h4>
      </div>
    </div>
  </div>

  <!-- Balboa Park -->
  <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
    <div class="card h-100">
      <a href="#"><img class="card-img-top" src="/img/parks/balboaPark.jpg" alt=""></a>
      <div class="card-body">
        <h4 class="card-title">
          <a href="#">Balboa Park</a>
        </h4>
      </div>
    </div>
  </div>

  <!-- China Beach -->
  <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
    <div class="card h-100">
      <a href="#"><img class="card-img-top" src="/img/parks/chinaBeach.jpg" alt=""></a>
      <div class="card-body">
        <h4 class="card-title">
          <a href="#">China Beach</a>
        </h4>
      </div>
    </div>
  </div>

  <!-- Fort Funston -->
  <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
    <div class="card h-100">
      <a href="#"><img class="card-img-top" src="/uploads/noimage.png" alt=""></a>
      <div class="card-body">
        <h4 class="card-title">
          <a href="#">Fort Funston</a>
        </h4>
      </div>
    </div>
  </div>

  <!-- Fort Mason -->
  <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
    <div class="card h-100">
      <a href="#"><img class="card-img-top" src="/uploads/noimage.png" alt=""></a>
      <div class="card-body">
        <h4 class="card-title">
          <a href="#">Fort Mason</a>
        </h4>
      </div>
    </div>
  </div>

  <!-- Fort Miley -->
  <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
    <div class="card h-100">
      <a href="#"><img class="card-img-top" src="/uploads/noimage.png" alt=""></a>
      <div class="card-body">
        <h4 class="card-title">
          <a href="#">Fort Miley</a>
        </h4>
      </div>
    </div>
  </div>

  <!-- Glen Canyon Park -->
  <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
    <div class="card h-100">
      <a href="#"><img class="card-img-top" src="/uploads/noimage.png" alt=""></a>
      <div class="card-body">
        <h4 class="card-title">
          <a href="#">Glen Canyon Park</a>
        </h4>
      </div>
    </div>
  </div>

  <!-- Golden Gate Park -->
  <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
    <div class="card h-100">
      <a href="#"><img class="card-img-top" src="/uploads/noimage.png" alt=""></a>
      <div class="card-body">
        <h4 class="card-title">
          <a href="#">Golden Gate Park</a>
        </h4>
      </div>
    </div>
  </div>

  <!-- Japanese Tea Garden -->
  <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
    <div class="card h-100">
      <a href="#"><img class="card-img-top" src="/uploads/noimage.png" alt=""></a>
      <div class="card-body">
        <h4 class="card-title">
          <a href="#">Japanese Tea Garden</a>
        </h4>
      </div>
    </div>
  </div>

  <!-- Lake Merced -->
  <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
    <div class="card h-100">
      <a href="#"><img class="card-img-top" src="/uploads/noimage.png" alt=""></a>
      <div class="card-body">
        <h4 class="card-title">
          <a href="#">Lake Merced</a>
        </h4>
      </div>
    </div>
  </div>

  <!-- Land's End -->
  <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
    <div class="card h-100">
      <a href="#"><img class="card-img-top" src="/uploads/noimage.png" alt=""></a>
      <div class="card-body">
        <h4 class="card-title">
          <a href="#">Land's End</a>
        </h4>
      </div>
    </div>
  </div>

  <!-- Mount Sutro Forest -->
  <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
    <div class="card h-100">
      <a href="#"><img class="card-img-top" src="/uploads/noimage.png" alt=""></a>
      <div class="card-body">
        <h4 class="card-title">
          <a href="#">Mount Sutro Forest</a>
        </h4>
      </div>
    </div>
  </div>

  <!-- Muir Woods -->
  <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
    <div class="card h-100">
      <a href="#"><img class="card-img-top" src="/uploads/noimage.png" alt=""></a>
      <div class="card-body">
        <h4 class="card-title">
          <a href="#">Muir Woods</a>
        </h4>
      </div>
    </div>
  </div>

  <!-- Ocean Beach -->
  <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
    <div class="card h-100">
      <a href="#"><img class="card-img-top" src="/uploads/noimage.png" alt=""></a>
      <div class="card-body">
        <h4 class="card-title">
          <a href="#">Ocean Beach</a>
        </h4>
      </div>
    </div>
  </div>

  <!-- South Park -->
  <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
    <div class="card h-100">
      <a href="#"><img class="card-img-top" src="/uploads/noimage.png" alt=""></a>
      <div class="card-body">
        <h4 class="card-title">
          <a href="#">South Park</a>
        </h4>
      </div>
    </div>
  </div>

  <!-- The Presidio -->
  <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
    <div class="card h-100">
      <a href="#"><img class="card-img-top" src="/uploads/noimage.png" alt=""></a>
      <div class="card-body">
        <h4 class="card-title">
          <a href="#">The Presidio</a>
        </h4>
      </div>
    </div>
  </div>

  <!-- Twin Peaks -->
  <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
    <div class="card h-100">
      <a href="#"><img class="card-img-top" src="/uploads/noimage.png" alt=""></a>
      <div class="card-body">
        <h4 class="card-title">
          <a href="#">Twin Peaks</a>
        </h4>
      </div>
    </div>
  </div>

  <!-- Union Square -->
  <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
    <div class="card h-100">
      <a href="#"><img class="card-img-top" src="/uploads/noimage.png" alt=""></a>
      <div class="card-body">
        <h4 class="card-title">
          <a href="#">Union Square</a>
        </h4>
      </div>
    </div>
  </div>

</div>
