<!-- Front page of web application -->

<div class="jumbotron">
  <h1 class="display-4">Software Engineering class SFSU</h1>
  <p class="lead">Summer 2019</p>
  <hr class="my-4">
  <h4 class="text-muted">Section 01</h4>
  <h4 class="text-muted">Team 05</h4>
  <a href="/about" class="btn btn-primary btn-lg" role="button">Learn More</a>
</div>
