<!-- PLEASE READ -->
<!---->
<!-- THIS LAYOUT FILE PROVIDES THE UNIVERSAL TEMPLATE FOR THE ENTIRE WEB APPLICATION -->
<!-- EVERY HBS FILE WILL USE THIS LAYOUT TO DISPLAY CONTENT -->
<!---->
<!-- PLEASE READ -->

<!DOCTYPE html>
<html>

<head>
  <!-- Title of web page passed in from corresponding .js route file -->
  <title>{{title}}</title>

  <!-- BOOTSTRAP -->
  <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.min.css">

  <!-- CUSTOM CSS from /public/css/style.css -->
  <link rel="stylesheet" type="text/css" href="/css/style.css">

  <!-- Sidebar CSS -->
  <link rel="stylesheet" type="text/css" href="/css/simple-sidebar.css">
</head>

<body>

  <div id="root">

    <div class="d-flex" id="wrapper">

      <!-- Sidebar -->
      <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">BaySpace</div>
        <div class="list-group list-group-flush">
          <a href="/" class="list-group-item list-group-item-action bg-light">Home</a>
          <a href="/search" class="list-group-item list-group-item-action bg-light">Search</a>
          <a href="/tickets" class="list-group-item list-group-item-action bg-light">Tickets</a>
          <a href="/about" class="list-group-item list-group-item-action bg-light">About</a>
          <a href="#" class="list-group-item list-group-item-action bg-light">Recent Posts</a>
          <a href="#" class="list-group-item list-group-item-action bg-light">Park List</a>
          <a href="#" class="list-group-item list-group-item-action bg-light">Park Events</a>
          <a href="#" class="list-group-item list-group-item-action bg-light">Map</a>
          <a href="#" class="list-group-item list-group-item-action bg-light">Enviro Tips (I can't read Anya!)</a>
          <a href="#" class="list-group-item list-group-item-action bg-light">Something else</a>
        </div>
      </div>
      <!-- /#sidebar-wrapper -->

      <!-- Page Content -->
      <div id="page-content-wrapper">

        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
          <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
                <button class="btn btn-secondary" type="button">Go!</button>
              </span>
          </div>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
              <li class="nav-item active">
                <a class="nav-link" href="#">Post <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/users/signin">Sign In</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/users/register">Register</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Want more stuff huh?
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Log In</a>
                  <a class="dropdown-item" href="#">Sign Up</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Terminate Earth</a>
                </div>
              </li>
            </ul>
          </div>
        </nav>

        <div class="container-fluid">
          <!-- body is where .hbs files will display content -->
          {{{body}}}
        </div>
      </div>
      <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

  </div> <!-- End of root -->

  <!-- BOOTSTRAP JS FILES -->
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/popper/dist/popper.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>

  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>

</body>

</html>
