<h1>Viewing all tickets</h1>

<table>
    <thead>
        <th>Issue</th>
        <th>Location</th>
        <th>Status</th>
        <th>Time</th>
    </thead>

    <tbody>
        {{#each tickets}}
            <tr>
                <td>{{this.issue}}</td>
                <td>{{this.location}}</td>
                <td>{{this.status}}</td>
                <td>{{this.time}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>

<form action="/tickets" method="POST">
    <input id="issue" type="text" name="issue" placeholder="Issue">
    <input id="location" type="text" name="location" placeholder="Location">
    <button id="addticket" name="addticket">Add Ticket</button>
</form>
