/*
CUSTOM CSS GOES IN THIS FILE

KEEP IN MIND THAT ANY CSS WRITTEN IN THIS FILE
WILL OVERRIDE CSS FROM BOOTSTRAP
*/

* {
  /* ADVISED TO NOT USE THIS TAG FOR ANY CSS AT ALL */
}

body {

}

/*
  Required form fields validation
 */
.form-group.required .control-label:after {
  color: #D00000;
  content: " *";
}

/*
  Used for reCAPTCHA validation message
 */
.red {
  color: #cc0000;
}

/*
  Used for reCAPTCHA validation message
 */
.green {
  color: #009b27;
}
